body {
    display: flex;
    justify-content: center;
}

.container {
    width: 70% !important;
}

.title {
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.wrap {
    display: flex;
}

.paymentList {
    font-size: 18px;
    margin-left: 10px;
}

.history-title {
    cursor: pointer;
    width: 50%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(178, 178, 178);
    padding: 12px 0px 14px 0px;
}



.history-title.on {
    border-bottom: 3px solid black;
    cursor: default !important;
}

.history-title-menu {
    display: none;
}

.history-title-menu.on {
    display: block;
}

.status.wrap.add {
    display: flex !important;
}

.status.wrap {
    display: none !important;
}

.status.wrap.add div {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 21px;
    margin-left: 15px;
    margin-top: 15px;
    padding: 10px 16px;
    color: rgb(102, 102, 102);
    font-size: 14px;
}

.status {
    cursor: pointer;
}

.status.on {
    background-color: black;
    color: white !important;
    cursor: default !important;
}

#voice-search {
    border-radius: 5px;
    font-weight: 700;
}

.search {
    max-width: 100%;
    margin: 15px 5%;
    justify-items: center;
}

.search .relative.w-full {
    justify-content: center;
    height: 45px;
}

.search .BTN {
    height: 45px;
    cursor: pointer;
    margin: 0px 0px 0px 10px;
    padding: 11px 12px 10px;
    border-radius: 6px;
    box-shadow: rgb(229, 229, 229) 0px 0px 0px 1px inset;
}

.product.wrap {
    justify-content: center;
    margin-bottom: 10px;
}

.product-main {
    border: 1px solid rgb(229, 229, 229);
    border-radius: 6px;
    width: 90%;
}

.date.wrap {
    align-items: center;
    padding: 16px 20px;
    font-size: 14px;
    ;
}

#paymentStatus {
    font-weight: bolder;
    padding: 8px 16px;
}

.product-details.wrap {
    padding: 0px 16px;
}

.product-details.wrap a {
    display: flex;
    width: 100%;
    height: 100%;
}

.product-details img {
    width: 65px;
    height: 65px;
    border-radius: 5px;
}

.product-details-information .product-details-title {
    font-size: 13px;
    color: rgb(102, 102, 102);
}

.product-details-information .product-details-user {
    font-size: 13px;
    color: rgb(140, 140, 140);
}

.product-details-information {
    margin-left: 10px;
    margin-bottom: 15px;
}

.product-main hr {
    width: 95%;
    margin: 0 auto;
}

#reviewBTN {
    width: 97% !important;
    display: block;
    margin: 0 auto;
    margin-bottom: 16px;
}